<a href = '/new_word'><button class='btn btn-success' style ='float: right;'>Add New Word</button></a>
<div>
  <h3>Lsit of Words</h3>
    <% @words.each do |word|%>
      <a href='/word/<%=word.id%>'><%= word.word %></a><br />
    <%end%>
  </ul>
</div>
