<div style='padding-bottom: 30px;'>
  <h3>Add New Definition</h3>
  <form action='/definition' method='post'>
    <input name= 'id' value = '<%=@word.id%> 'type='hidden' />
    <input name='definition'/>
    <button type='submit' class='btn btn-success'>Submit</button>
  </form>
</div>



<a href = '/'><button class='btn btn-primary'>Back to Home Page</button></a>
