<div style='padding-bottom: 30px;'>
  <h3>Add New Word</h3>
  <form action='/word' method='post'>
    <input name='word'/><br /><br />
    <button type='submit' class='btn btn-success'style ='width: 151.77px'>Submit</button>
  </form>
  <a href = '/'><button class='btn btn-primary'>Back to Home Page</button></a>
</div>
